DatabaseModifierWebService/GMD Form/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ellistrtest.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ellistrtest.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ellistrtest.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RegisterUserWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUser" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobileNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PIN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SSN" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="userToken" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="loyaltyVal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="option" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterUserWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterUserWebResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addLoyalty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentUser" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addLoyaltyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addLoyaltyResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoyaltyBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="currentUser" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoyaltyBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoyaltyBalanceResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterUserWebSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUserWeb" />
  </wsdl:message>
  <wsdl:message name="RegisterUserWebSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserWebResponse" />
  </wsdl:message>
  <wsdl:message name="addLoyaltySoapIn">
    <wsdl:part name="parameters" element="tns:addLoyalty" />
  </wsdl:message>
  <wsdl:message name="addLoyaltySoapOut">
    <wsdl:part name="parameters" element="tns:addLoyaltyResponse" />
  </wsdl:message>
  <wsdl:message name="getLoyaltyBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:getLoyaltyBalance" />
  </wsdl:message>
  <wsdl:message name="getLoyaltyBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:getLoyaltyBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="RegisterUserWeb">
      <wsdl:input message="tns:RegisterUserWebSoapIn" />
      <wsdl:output message="tns:RegisterUserWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addLoyalty">
      <wsdl:input message="tns:addLoyaltySoapIn" />
      <wsdl:output message="tns:addLoyaltySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLoyaltyBalance">
      <wsdl:input message="tns:getLoyaltyBalanceSoapIn" />
      <wsdl:output message="tns:getLoyaltyBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUserWeb">
      <soap:operation soapAction="http://www.ellistrtest.com/RegisterUserWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLoyalty">
      <soap:operation soapAction="http://www.ellistrtest.com/addLoyalty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoyaltyBalance">
      <soap:operation soapAction="http://www.ellistrtest.com/getLoyaltyBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUserWeb">
      <soap12:operation soapAction="http://www.ellistrtest.com/RegisterUserWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLoyalty">
      <soap12:operation soapAction="http://www.ellistrtest.com/addLoyalty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoyaltyBalance">
      <soap12:operation soapAction="http://www.ellistrtest.com/getLoyaltyBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:52739/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:52739/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>